// Font var
$fontFamily: 'proxima_nova_rgregular';
$fontFamilySecond: 'Alegreya', serif;
$fontScriptina: 'scriptinaregular';
$fontTitle: 'Playfair Display', serif;
$fontRegular: 400;
$fontBold: 700;
$lineHeight: 1;
$fontSize: 14px;
$fontSizeXxs: 13px;
$fontSizeXs: 16px;
$fontSizeSm: 18px;
$fontSizeMd: 24px;
$fontSizeLg: 30px;


//letterSpacing
$LetterSpacXs: .025em;
$LetterSpacLit: .05em;
$LetterSpacMd: .075em;
$LetterSpacBig: .1em;
$letterSpacLg: .3em;


// Color var
$white: #fff;
$coffeeColor: #c8a593;
$darkBrown: #57544d;
$brown: #56534c;
$brownLight: #a47d5e;
$brownXs: #d8bba3;
$darkYellow: #c9b176;
$yellowBG: #f9f7f3;
$yellow: #f3f1e9;
$grey: #c2beba;
$greyLight: #c2beba;
$greyMedium: #979285;
$greyDark: #56534c;
$BgBrown: #f3f1e9;
$greyBg: #f0f0f2;
$BGsocial: #efebe4;
$dark: #9e9c93;
$shadowColor: #d8d5c6;
$shadowSecond: #c0bdb1;
